@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a{
  padding: 10px;
}

.menu{
  padding: 20px;  
}

hr{
  margin-bottom: 15px;
}

main{
  padding: 20px;
}